section#benefits.benefits
	h1.text-uppercase.text-center Benefits of service
	.container
		.row
			.col-md-4
				h3.text-uppercase.text-center Benefit#1
				p.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora impedit numquam, quo debitis vero eveniet ducimus neque ipsam. Possimus tempora aut magni accusamus, quae doloribus et voluptates modi dicta inventore!
			.col-md-4
				h3.text-uppercase.text-center Benefit#2
				p.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora impedit numquam, quo debitis vero eveniet ducimus neque ipsam. Possimus tempora aut magni accusamus, quae doloribus et voluptates modi dicta inventore!
			.col-md-4
				h3.text-uppercase.text-center Benefit#3
				p.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora impedit numquam, quo debitis vero eveniet ducimus neque ipsam. Possimus tempora aut magni accusamus, quae doloribus et voluptates modi dicta inventore!		
