header.header
    nav.navbar.navbar-default.navbar-fixed-top
       .container
            .navbar-collapse.collapse
                ul.nav.nav-justified
                    li.logo-text BookService
                    li
                        a(href="#benefits") Benefits
                    li
                        a(href="#") Start writing!
                    li
                        a(href="#contribution") Contribution
                    li
                        button#sign-button.btn.btn-primary(type="button") SIGN UP

                    .navbar-header
                        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                            span.sr-only Toggle Navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
